@import url('https://fonts.googleapis.com/css?family=Bitter|Gayathri&display=swap');
.App {
  width: 90%;
  margin:auto;
  font-family: 'Gayathri', sans-serif;
}
body {
  background-color: darkseagreen;
}
h1, h2, h3, h4, .header-title {
  font-family: 'Bitter', serif;
}

.navigation {
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color:cornsilk;
  padding-left: 5%;
}

.navigation div {
  padding-right: 5%;
}
.header-title {
  text-decoration: none;
  color:black;
  font-size: 1.6rem;
}

.time {
  font-size: 0.8rem;
  margin-left: 1%;
  font-weight: normal;
}

.info {
  display:flex;
  flex-wrap:flex;
  justify-content: center;
}

.info p {
  width: 15%;
  border: 0.5px solid black;
  margin: 0 1%;
  padding: 1%;
  border-radius: 5px;
  background-color:skyblue;
} 

.weather-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.weather-card {
  width: 12%;
  margin: 2% 1%;
  border: 1px solid lightblue;
  background-color: cornflowerblue;
  border-radius: 5px;
  padding: 0.5%;
  box-shadow: 0px 0px 3px 2px darkblue;
}

.stats p {
  line-height:0.5;
}
.search-container {
  display:flex;
  flex-wrap:wrap;
  margin:auto;
}
.search-card {
  width: 20%;
  background-color:white;
  padding: 1%;
  border-radius: 5px;
  box-shadow: 0 0 1px 2px gray;
  margin: 2%;
}